/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide screens */

@media only all and (max-width: 1199px) {
    nav .navbar-phone {
        font-size: 16px;
    }
}
/* Medium Devices, Desktops */

@media only all and (max-width: 991px) {
}
/* Small Devices, Tablets */

@media only all and (max-width: 767px) {
    body {
        font-size:18px;
    }
    .lp-block .container > header {
        margin-bottom: 10px;
    }
    .lp-block header h2 {
        font-size: 36px;
        text-align: center;
    }
    .lp-block header h3 {
        font-size: 28px;
        text-align: center;
    }
    .lp-block header h4 {
        font-size: 22px;
        text-align: center;
    }
    .lp-block header h3>small {
        font-size: 24px;
    }
    .page-matherials .table.descr {
        font-size: 14px;
        text-align: center;
    }
    .lp-block .descript {
        text-indent: 70px;
    }
    .page-matherials .benefits dl dd {
        line-height: 20px;
    }
    .page-matherials .m-charac ul li {
        line-height: 30px;
    }
    /* ---------------  */
    .products-box .products-box-caption .products-box-caption-content .project-category {
        font-size: 16px;
    }
    .products-box .products-box-caption .products-box-caption-content .project-name {
        font-size: 22px;
    }
}
@media only all and (max-width: 767px) and (min-width: 290px) {
    .navbar-form .btn-group > button {
        border-radius: 4px !important;
    }
}
@media only all and (max-width: 626px) {
    .page-header .container>header h1 {
        font-size: 30px;
    }
    .page-header .container>header h2 {
        font-size: 26px;
    }
}
@media only all and (max-width: 555px) {
    .page-header .container>header h1 {
        font-size: 28px;
    }
    .page-header .container>header h2 {
        font-size: 24px;
    }
    .page-footer .w555-visible {
        display: block;
    }
    .page-footer .col-xs-4 {
        float: none;
        width: 100%;
    }
}
@media only all and (max-width: 520px) {
    .page-header .container>header h1 {
        font-size: 26px;
    }
    .page-header .container>header h2 {
        font-size: 24px;
    }
}
@media only all and (max-width: 485px) {
    .page-header .container>header h1 {
        font-size: 24px;
    }
    .page-header .container>header h2 {
        font-size: 22px;
    }
    #carousel .carousel-caption {
        display: none;
    }
    #carousel .carousel-indicators {
        background: rgba(100,100,100,.5);
        box-shadow: 0px 0px 10px 5px rgba(100,100,100,.5);
    }
    body {
        font-size: 18px;
    }
    /* ------------- PAGE TITLE ------------ */
    .lp-block header h2 {
        font-size: 30px;
    }
    .lp-block .descript {
        text-indent: 40px;
    }
    .lp-block header h3 {
        font-size: 26px;
        text-align: center;
    }
    .lp-block header h4 {
        font-size: 20px;
    }
    .lp-block header h3>small {
        font-size: 22px;
    }
    .page-matherials .table.descr {
        font-size: 12px;
    }
    .page-matherials .benefits dl dd {
        line-height: 20px;
    }
    .page-matherials .m-charac ul li {
        line-height: 28px;
    }
    /* ------------- /PAGE TITLE ----------- */
}
/* Extra Small Devices, Phones */

@media only all and (max-width: 450px) {
    .page-header .container>header h1 {
        font-size: 22px;
    }
    .page-header .container>header h2 {
        font-size: 20px;
    }
}
@media only all and (max-width: 415px) {
    .page-header .container>header h1 {
        font-size: 20px;
    }
    .page-header .container>header h2 {
        font-size: 18px;
    }
}
@media only all and (max-width: 380px) {
    .page-header .container>header h1 {
        font-size: 18px;
    }
    .page-header .container>header h2 {
        font-size: 16px;
    }
    body {
        font-size: 14px;
    }
    /* ------------- PAGE TITLE ------------ */
    .lp-block header h2 {
        font-size: 28px;
    }
    .lp-block .descript {
        text-indent: 0;
    }
    .lp-block header h3 {
        font-size: 24px;
    }
    .lp-block header h4 {
        font-size: 18px;
    }
    .lp-block header h3>small {
        font-size: 20px;
    }
    .page-matherials .table.descr {
        font-size: 10px;
    }
    .page-matherials .benefits dl dd {
        line-height: 18px;
    }
    .page-matherials .m-charac ul {
        padding-left: 15px;
    }
    .page-matherials .m-charac ul li {
        font-size: 14px;
        line-height: 22px;
    }
    /* ------------- /PAGE TITLE ----------- */
    #label-write-us {
        display: none !important;
    }
}
@media only all and (max-width: 345px) {
    .page-header .container>header h1 {
        font-size: 16px;
    }
    .page-header .container>header h2 {
        font-size: 15px;
    }
    .lp-block header h2 {
        font-size: 18px;
    }
}
@media only all and (max-width: 313px) {
    body {
        font-size: 12px;
    }
    /* ------------- PAGE TITLE ------------ */
    .lp-block header h2 {
        font-size: 16px;
    }
    .lp-block .descript {
        text-indent: 0;
    }
    .lp-block header h3 {
        font-size: 16px;
    }
    .lp-block header h4 {
        font-size: 14px;
    }
    .lp-block header h3>small {
        font-size: 15px;
    }
    .page-matherials .table.descr {
        font-size: 9px;
    }
    .page-matherials .benefits dl dd {
        line-height: 16px;
    }
    .page-matherials .m-charac ul li {
        font-size: 12px;
        line-height: 20px;
    }
    /* ------------- /PAGE TITLE ----------- */
    .page-header .container>header h1 {
        font-size: 14px;
    }
    .page-header .container>header h2 {
        font-size: 13px;
    }
}
@media only all and (max-width: 290px) {
    .w290 {
        display: block;
    }
    .btn-group > .btn:first-child {
        display: inline-block !important;
    }
    #span-phone {
        display: none !important;
    }
}
@media only all and (max-width: 270px) and (max-height: 270px) {
    .navbar-nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}
@media only all and (max-width: 257px) {
    .page-header .container>header h1 {
        font-size: 15px;
    }
    .page-header .container>header h2 {
        font-size: 15px;
    }
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

@media only all and (min-width: 320px) {}
/* Extra Small Devices, Phones */

@media only all and (min-width: 480px) {}
/* Small Devices, Tablets */

@media only all and (min-width: 768px) {}
/* Medium Devices, Desktops */

@media only all and (min-width: 992px) {}
/* Large Devices, Wide screens */

@media only all and (min-width: 1200px) {
    .navbar-form .btn-group > button {
        border-radius: 4px !important;
    }
}